# Force rebuild of native modules
rebuild-bundle=true
build-from-source=true

# SQLite3 specific configurations
sqlite3_binary_host_mirror=https://mapbox-node-binary.s3.amazonaws.com
sqlite3_binary_site=https://mapbox-node-binary.s3.amazonaws.com
sqlite3_binary_host_mirror=https://github.com/mapbox/node-sqlite3/releases/download/
sqlite3_binary_remote_path=./
sqlite3_binary_package_name={module_name}-v{version}-{node_abi}-{platform}-{arch}.tar.gz

# General native module settings
target_platform=linux
target_arch=x64
cache_min=86400
